h1{
    background-color:yellow;
    width:50%;
    border:5px solid black;
    /*padding-top:120px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 50px; */
    float:left;
    /* margin-right:100px;
    margin-left:200px;
    margin-top:500px;
    margin-bottom: 400px; */

    
}