 *{
    padding:0px;
    margin:0px;
}
img{
    width:400px;
    margin-top:10%;
    margin-left:35%;
    border-radius:81% 19% 84% 16%/ 46% 76% 24% 84%; 
    /* border-radius: 100%; */
    box-shadow:2px 2px 5px black,10px 10px 0px yellow,
    15px 15px 15px rgb(236, 236, 1),
     20px 20px 20px rgb(221, 221, 19),
    25px 25px 25px rgb(193, 193, 34),
    30px 30px 30px rgb(170, 170, 25),
    35px 35px 35px rgb(152, 152, 26),
    40px 40px 40px rgb(139, 139, 23),
    45px 45px 45px rgb(102, 102, 16),
    50px 50px 50px rgb(90, 90, 19),
    -10px -10px 0px rgb(36, 33, 183),
    -15px -15px 15px rgb(60, 33, 140),
    -20px -20px 20px rgb(58, 23, 139),
    -25px -25px 25px rgb(46, 15, 109),
    -30px -30px 30px rgb(38, 11, 117),
    -35px -35px 35px rgb(36, 11, 88),
    -40px -40px 40px rgb(33, 38, 195),
    -45px -45px 45px rgb(30, 16, 139),
    -50px -50px 50px rgb(22, 11, 61);  
 }


/*h1{
    font-size:50px;
    letter-spacing:20px;
    font-family: 'Silkscreen', sans-serif;
    text-align:center;
    padding-top:10%;
    background-size: 55%;
     background-image: linear-gradient(90deg,violet,indigo,blue,green,orange,red); */
    /*background-image: url(../../ASSET/IMAGE/instagramlogo.jpg);
    color:transparent;
    -webkit-background-clip:text;

} */
    
    

