h1{
    font-family: 'Rubik Mono One', monospace;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.99);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.98);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.97);
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.96);
    text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.95);
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.94);
    text-shadow: 9px 9px 9px rgba(0, 0, 0, 0.93);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.92);
    text-shadow: 11px 11px 11px rgba(0, 0, 0, 0.91);
    text-shadow: 12px 12px 12px rgba(0, 0, 0, 0.90);
    text-shadow: 13px 13px 13px rgba(0, 0, 0, 0.89);
    text-shadow: 14px 14px 14px rgba(0, 0, 0, 0.88);
    text-shadow: 15px 15px 15px rgba(0, 0, 0, 0.87);
    text-shadow: 16px 16px 16px rgba(0, 0, 0, 0.86);
    text-shadow: 17px 17px 17px rgba(0, 0, 0, 0.85);
    text-shadow: 18px 18px 18px rgba(0, 0, 0, 0.84);
    text-shadow: 19px 19px 19px rgba(0, 0, 0, 0.83);
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.82);
    text-shadow: 21px 21px 21px rgba(0, 0, 0, 0.81);
    text-shadow: 22px 22px 22px rgba(0, 0, 0, 0.80);
    text-shadow: 23px 23px 23px rgba(0, 0, 0, 0.79);
}