img{
    width:300px;
    /* clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%); */
    clip-path: polygon(50% 0%, 67% 29%, 100% 35%, 75% 56%, 80% 90%, 46% 75%, 20% 90%, 20% 61%, 0% 35%, 34% 30%);

}
body{
    width:500px;
    text-align: center;
    /* background-color: black; */
    background-image: url(../../ASSET/IMAGE/jeeva.jpg);
    clip-path: polygon(50% 0%, 67% 29%, 100% 35%, 75% 56%, 80% 90%, 46% 75%, 20% 90%, 20% 61%, 0% 35%, 34% 30%);
    background-repeat: no-repeat;

}