/* a:link{
    color:orangered;
    text-decoration: none;
    background-color: yellow;
}
a:visited{
    color:aqua;
    background-color: blue;
}
a:hover{
    border-radius: 50px;
    color:blanchedalmond;
    letter-spacing: 10px;
    background-color: chocolate;
    /* padding: 10px; 
}
a:active{
    border-radius: 100%;
    color:black;
    letter-spacing: 0px;
    background-color: lightskyblue;
    padding:0px;
} */

/* #a{
    width:300px;
    height:200px;
    background-image: url(../../ASSET/IMAGE/jeeva.jpg);
    background-size: 100% 100%;
    border-radius: 39% 61% 31% 69% / 30% 100% 0% 70% ;
    box-shadow:3px 4px 5px yellow;

}
#a:hover{
    background-image: url(../../ASSET/IMAGE/rabbitigiff.gif);
    background-size: 100% 120%;
    border-radius: 49% 51% 96% 4% / 40% 65% 35% 60% ;
} */
fieldset{
    width:400px;
    background-color: black;
    height:400px;
    background-image: url(../../ASSET/IMAGE/tajmahal.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
    margin:100px 0px 0px 100px;
    background-position: center;
    border-radius: 10px;
    border:none;
    box-shadow: 5px 5px 5px black;    
}
fieldset:hover{
    width:800px;
    background-position: 20px center;
}
h1{
    text-align: right;
    padding-right: 40px;
    padding-top: 20px;
    color:blue;
    /* color: transparent; */
}
p{
    text-align: center;
    width:180px;
    float:right;
    padding-right: 90px;
    margin-top: -15px;
    /* color:white; */
    color:transparent;
}
legend{
    background-color: orangered;
    width:150px;
    height:30px;
    /* text-align: center; */
    font-size:24px;
    border-radius:20px;
}
fieldset:hover>legend{
    text-align: center;
}
fieldset:hover>h1{
    color:royalblue;
    letter-spacing: 10px;
}
fieldset:hover>p{
    color:white;
}

