*{
    padding:0px;
    margin:0px;
}
#navbar{
    width:100%;
    height:100px;
    background-color: grey;
}
#mainlist{
    display:flex;  
    list-style: none;
    color:white;
    font-size: 25px; 
    letter-spacing: 2px; 
    height:100%;  
    background-color: black; 
    position:relative;
}
.mli{
    height:85%;
    padding:15px 20px 0px 25px;
    transition: all 0.5s;
}
#logocontainer{
    width:20px;
}
#logo{
    width:25px;
}
.mli:hover{
    background-color: black;
    color:white;
    letter-spacing: 8px;
}
#login{
    position:absolute;
    right:0px;
}
#search{
    position:absolute;
    right:90px;
}
#searchcontainer{
    width:30vw;
    height:70%;
    background-color: black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}
#searchlogo{
    position:absolute;
    right:54px;
    top:20%;
    width:25px;
}
input{
    height:70%;
    width:80%;
    background-color:transparent;
    border:none;
    outline:none; 
    color:white;
    padding-left:10px;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
    padding-top: 5px;
    display:none;        
}
#search:hover{
    background-color: gray;
}
input::placeholder{
    color:white;
    font-size: 1vw;
}
#searchcontainer:hover input{
    display:block;
}
#product{
    position:relative;
}
#sublist{
    color:white;
    list-style: none;
    position:absolute;
    top:94px;
    left:0px;
    display:none;    
}
#product:hover #sublist{
    display:block;
}
.sli{
    background-color: black;
    padding:5px;
    text-transform: capitalize;
    letter-spacing: 2px;
    transition:all 0.5s;
}
.sli:hover{
    transform: translate(50px);
}