#container{
    width:50%;
    height:500px;
    background-color: yellow;
}
img{
    width:20%;
    transition: all 2s;
}
#container:hover img{
    rotate:360deg;
}
#sw1{
    transition-timing-function: ease-in;
}
#sw2{
    transition-timing-function: ease-out;
}
#sw3{
    transition-timing-function: ease-in-out;
}
#sw4{
    transition-timing-function: linear;
}
