body{
    background-color: black;
}
#a{
    width:90%;
    height:100px;
    background-image: linear-gradient(75deg,yellow,green,indigo,white,orangered,pink,yellow);
    background-size: 10px;
    background-position: 150px;
    border-radius: 10px;
    transition: all 5s;
}
#a:hover{
    background-position: 50px;
}
