*{
    padding:0px;
    margin:0px;
}
#container{
    width:60%;
    height:600px;
    background-color: yellow;
    display: flex;
    align-items: baseline;/* baseline is used to get the content in a straight line of every child tag*/
}
.child{
    width:100px;
    background-color: brown;
    border:2px solid black;
    font-size: 25px;
    color:white;
    display: flex;
}
#a{
    height: 150px;
    justify-content: center;
    align-items: start;
}
#b{
    height: 300px;
    justify-content: center;
    align-items: center;
}
#c{
    height: 200px;
    justify-content: center;
    align-items: end;
}